<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="profile-logging">
<Appenders>
    <Console name="console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
    </Console>

    <!-- A socket definition for sending logs into Logstash using TCP and JSON format.-->
    <Socket name="logstash" host="34c072a5-702a-4c74-91a5-533684e21cd0-ls.logit.io" port="17833" protocol="tcp">
        <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
    </Socket>

</Appenders>
<Loggers>
    <!-- Default logger -->
    <Root level="info">
        <AppenderRef ref="console"/>
        <AppenderRef ref="logstash"/>
    </Root>
</Loggers>
</Configuration>